$PRIMARY_COLOR: #F53546;
$ACCENT_COLOR: pink;
$SECONDARY_COLOR: blue;
$BACKGROUND_COLOR: #F0F0F0;
$DARK_TEXT_COLOR: #515151;
$LIGHT_TEXT_COLOR: #515151;

$TEXT_BRAND: 40px;
$TEXT_H1: 30px;
$TEXT_H2: 24px;


$ZINDEX_MAX: 1000;