@import 'global';
@import 'navbar';

$CONTENT_OFFSET: $NAVBAR_HEIGHT;

body {
    background-color: $BACKGROUND_COLOR;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $DARK_TEXT_COLOR;
}

a {
    text-decoration: none;
}

div.container {
    position: absolute;
    top: $CONTENT_OFFSET;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}