@import 'global';

$LOGO_PADDING: 10px;
$LOGO_DIMENSIONS: (width: 95px, height: 60px);
$EDGE_PADDING: 60px;

$NAVBAR_HEIGHT: 80px;
$NAVBAR_ACCENT_THICKNESS: 5px;
$SEEKER_HEIGHT: 7px;
$NAVBAR_EFFECTIVE_HEIGHT: $NAVBAR_HEIGHT - $NAVBAR_ACCENT_THICKNESS;

$NAVBAR_COLOR: $PRIMARY_COLOR;
$NAVBAR_ACCENT_COLOR: $ACCENT_COLOR;

$NAVBAR_TEXT_COLOR: $DARK_TEXT_COLOR;


/** Navbar styles **/
#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: $NAVBAR_HEIGHT;
    background-color: $NAVBAR_COLOR;
    box-shadow: 0px 0px 50px rgba(0,0,0, 0.2);
    overflow: hidden;
    z-index: $ZINDEX_MAX;
}


/* Navbar logo & brand styles */
#navbar {
    #logo {
        display: inline-block;
        height: 100%;
        margin-left: $EDGE_PADDING;
    }

    #mlb-logo {
        height: map-get($LOGO_DIMENSIONS, 'height');
        width: map-get($LOGO_DIMENSIONS, 'width');
        margin-top: ($NAVBAR_EFFECTIVE_HEIGHT - map-get($LOGO_DIMENSIONS, 'height')) / 2;
        opacity: 0.9;
        color: $NAVBAR_TEXT_COLOR;
    }

    #site-title {
        display: none;
        vertical-align: top;
        margin-left: 10px;
        margin-right: 5px;
        color: $NAVBAR_TEXT_COLOR;
        line-height: $NAVBAR_EFFECTIVE_HEIGHT;
        font-size: $TEXT_BRAND;
        font-weight: 100;
        cursor: pointer,
    }

    #navbar-accent {
        background-color:$NAVBAR_ACCENT_COLOR;
        top: $NAVBAR_HEIGHT - $NAVBAR_ACCENT_THICKNESS;
        height: $NAVBAR_ACCENT_THICKNESS;
        width: 100%;
        position: absolute;
    }

    $pulse-time: 0.2s;
    $appear-time: 0.2s;
    $move-time: 0.5s;

    #navbar-seeker {
        position: absolute;
        left: 0px;
        top: ($NAVBAR_EFFECTIVE_HEIGHT - $SEEKER_HEIGHT);
        height: $SEEKER_HEIGHT;
        width: 80px;
        background-color: $NAVBAR_ACCENT_COLOR;
        transition: left $move-time, width $move-time, top $appear-time, opacity $pulse-time;
        transition-timing-function: ease-in, ease-in, ease-out, ease-out;
    }

    // Start seeker hidden
    #navbar-seeker.seeker-start {
        top: ($NAVBAR_EFFECTIVE_HEIGHT); 
    }

    #navbar-seeker.seeker-pulse {
        opacity: 0.5;
        transition: opacity $pulse-time;
    }
}

/* Navbar tab styling */
#navbar {
    div.nav-element {
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
        height: 100%;
        // transition: background-color 0.7s;

        // &:hover {
        //     background-color: rgba(255,255,255, 0.35);
        //     transition: background-color 0.7s;
        // }
    }

    #tab-bar {
        position: absolute;
        vertical-align: top;
        display: inline-block;
        margin-left: 20px;
        height: 100%;

        .tab-content {
            display: inline-block;
            color: $NAVBAR_TEXT_COLOR;
            line-height: $NAVBAR_EFFECTIVE_HEIGHT;
            font-size: $TEXT_H2;
            font-weight: 200;
            padding: 0px 20px;
        }
    }

    #button-bar {
        position: absolute;
        vertical-align: top;
        right: 0px;
        top: 0px;
        height: 100%;
        margin-right: $EDGE_PADDING;

        .button-search {
            color: white;
            line-height: $NAVBAR_HEIGHT;
            padding: 0px 25px;
            font-size: 2.2em;
            -webkit-text-stroke: 2px $NAVBAR_COLOR;
        }
    }
}