@import 'global';
@import 'page';

$card-dimensions: (w: 200px, h: 200px);
$card-background: lightblue;

div#scoreboard {
    display: block;
    justify-content: space-between;
}

div#scoreboard {
    .scoreboard-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;

        .gamecard {
            display: inline-block;
            width: map-get($card-dimensions, 'w');
            height: map-get($card-dimensions, 'h');
            background-color: $card-background;
        }

    }
}