.DS_Store

# Don't track downloaded player images
v1/assets/img/players/**

# Except generic player image
!v1/assets/img/players/generic.png

# Don't track node dependency files
v1/node_modules/*
v2/node_modules/*

# Don't track game data that is downloaded
v1/assets/games/*.json

npm-debug.log

v2/build
*.swp
