.DS_Store

# Don't track downloaded player images
website/assets/img/players/**

# Except generic player image
!website/assets/img/players/generic.png

# Don't track node dependency files
website/node_modules

# Don't track game data that is downloaded
website/assets/games/*.json

npm-debug.log
