<!DOCTYPE html>
<html>
    <head>
        <title>MLB Scoreboard</title>
        <link href='http://fonts.googleapis.com/css?family=Karla:700,400|Open+Sans:400,300|Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="assets/css/global.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/scoreboard.css" />
        <script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script language="javascript" type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
        <script language="javascript" type="text/javascript" src="assets/js/nav-script.js"></script>
        <script language="javascript" type="text/javascript" src="assets/js/scoreboard-script.js"></script>
    </head>
    <body>
        <div class="nav">
            <img id="mlb-icon" src="assets/img/mlb.png" />
            <div id="nav-selector"></div>
            <div class="nav-entry"><p>News</p></div>
            <div class="nav-entry nav-selected"><p>Scoreboard</p></div>
            <div class="nav-entry"><p>Standings</p></div>
            <div class="nav-entry"><p>Teams</p></div>
            <img id="nav-search-icon" src="assets/img/search-flipped.png" />
            <div id="nav-border"></div>
        </div>
        <div id="search-container">
            <div id="search-overlay"></div>
            <div class="search-modal modal-hidden">
                <img id="search-modal-icon" src="assets/img/search-flipped.png" />
                <input type="text" placeholder="Search the mlb" id="search-input"/>
            </div>
        </div>
        <div class="content">
            <div id="date-selector">
                <img class="date-arrow" id="date-left-arrow" src="assets/img/cal-arrow.png" />
                <img id="date-cal-icon" src="assets/img/cal.png" />
                <span id="date-text">{{date_str}}</span>
                <span id="date-data">{{date}}</span>
                <img class="date-arrow" id="date-right-arrow" src="assets/img/cal-arrow.png" />
            </div>
            <!-- Only display league filter circles if theres games today -->
            <div id="league-filter">
                <div class="circle nl-circle on">
                    <h1>NL</h1>
                </div>
                <div class="circle al-circle on">
                    <h1>AL</h1>
                </div>
            </div>
            <!-- Only display games if there are some today -->
            {{#if num_games}}
            <div id="game-cards-masonry">
                <!-- LIVE GAMES -->
                {{#each games.live_games}}
                    {{> live-game-card}}
                {{/each}}

                <!-- UPCOMING GAMES -->
                {{#each games.upcoming_games}}
                    {{> preview-game-card}}
                {{/each}}

                <!-- FINAL GAMES -->
                {{#each games.final_games}}
                    {{> final-game-card}}    
                {{/each}}

            </div>
            {{else}}
            <!-- Display No games message -->
            <div id="no_game_container">
                <h1>NO GAMES TODAY</h1>
                <img id="no_game_icon" src="assets/img/bats.png" />
            </div>
            {{/if}}
        </div>
    </body>
</html>
